{% extends "layout.html" %}

{% block body %}
  <div class="Container">

    <div class="textArea">
      <div class="textAreaTopPart" style="font-weight: bold; color: #5d636a">
        <div class="textAreaTopPartLeft">
          <img class="svg-icon" id="leftArrow" src="{{ url_for('static', filename='svg/arrow-left-sm-svgrepo-com.svg') }}">
          <img class="svg-icon" id="rightArrow" src="{{ url_for('static', filename='svg/arrow-right-sm-svgrepo-com.svg') }}">
        </div>
        <div class="textAreaTopPartCenter" style="color: var(--icon-color)">Текущий файл</div>
        <div class="textAreaTopPartRight">
          <img class="svg-icon" id="bookIcon" src="{{ url_for('static', filename='svg/book-open-svgrepo-com.svg') }}">
          <img class="svg-icon" id="moreIcon" src="{{ url_for('static', filename='svg/more-vertical-svgrepo-com.svg') }}">
        </div>
      </div>
      <div class="textAreaBottomPart">
        <div class="line-numbers"></div>
        <div class="input-area">
          <textarea class="mainTextArea" id="inputText"></textarea>
        </div>
        <div class="output-area">
          <div id="outputText"></div>
        </div>
      </div>
    </div>

    <div class="leftSideBar">
      <div class="t1">
        <img class="svg-icon" id="collapseButton" src="{{ url_for('static', filename='svg/notebook-svgrepo-com(1).svg') }}" alt="collapse">
      </div>
      <div class="t2"></div>
      <div class="t3">

        <a href="\test" id="test">
          <img class="svg-icon" id="info" style="justify-self: center; width: 68%;" src="{{ url_for('static', filename='svg/test.svg') }}" alt="test">
        </a>
        
        <a href="\info" id="info">
          <img class="svg-icon" id="info" src="{{ url_for('static', filename='svg/1.svg') }}" alt="info">
        </a>

        <img class="svg-icon" src="{{ url_for('static', filename='svg/2.svg') }}" alt="settings">
      </div>
    </div>

    <div class="topLeftSideBar">
      <a href="/" id="logo">
        <img id="logo" src="{{ url_for('static', filename='svg/deepl-icon(1).svg') }}" alt="search">
      </a>
      <a href="\" id="logoName">mathEXT</a>
      <div class="searchContainer">
        <img class="svg-icon" id="search-icon" src="{{ url_for('static', filename='svg/search-magnifying-glass-svgrepo-com.svg') }}" alt="search">
      </div>
    </div>

    <div class="topBar">
      <img class="svg-icon" id="sunIcon" style="z-index: 1001;" src="{{ url_for('static', filename='svg/sun-svgrepo-com(1).svg')}}">
      <img class="images" id="profilePic" style="z-index: 1001;" src="{{ url_for('static', filename='images/waytoodunk.gif')}}">
      <img class="svg-icon" id="hamburger-menu" src="{{ url_for('static', filename='svg/text-align-justify-svgrepo-com.svg')}}">
    </div>

    <div class="folderMenu">
      <div class="topPart">
        <img class="svg-icon" id="new-note" src="{{ url_for('static', filename='svg/note-edit-svgrepo-com(1).svg') }}" alt="Edit">
        <img class="svg-icon" src="{{ url_for('static', filename='svg/folder-add-svgrepo-com.svg') }}" alt="Folder">
        <script src="{{ url_for('static', filename='js/collapse.js') }}"></script>
      </div>
      <div class="bottomPart">
        <p class="bottomPartText">Список файлов:</p>
      </div>
    </div>

    <div class="border1"></div>
    <div class="border2"></div>
    <div class="border3"></div>
  </div>

  <div class="AIbutton">
    <button id="myRoundButton">
      <img src="{{ url_for('static', filename='svg/artificial-intelligence_11271996.svg') }}" alt="AI" style="width: 100%; height: 70%; padding-top: 6px;">
    </button>
    <form>
      <div id="floatingMenu" class="hidden">
        <input type="text" id="user_input" name="user_input" placeholder="Введите мат. формулу...">
        <input type="text" id="math_formula_result" name="math_formula_result" class="math_formula_result" value="Текст для копирования">
        <div id="outputFormula"></div>
        <input type="button" value="Submit" id="button">
      </div>
    </form>
      <script src="{{ url_for('static', filename='js/glowingAnimation.js') }}"></script>
  </div>

  <div id="context-menu">
    <div class="pkm-item" id="clear"> <img class="rkm-icon" src="{{ url_for('static', filename='svg/rightClickIcons/clear.svg') }}"> Clear</div>
    <div class="pkm-item" id="copy"> <img class="rkm-icon" src="{{ url_for('static', filename='svg/rightClickIcons/copy.svg') }}"> Copy</div>
    <div class="pkm-item" id="cut"> <img class="rkm-icon" src="{{ url_for('static', filename='svg/rightClickIcons/cut.svg') }}"> Cut</div>
    <div class="pkm-item" id="paste"> <img class="rkm-icon" src="{{ url_for('static', filename='svg/rightClickIcons/paste.svg') }}"> Paste</div>
    <div class="pkm-item" id="select-all"> <img class="rkm-icon" src="{{ url_for('static', filename='svg/rightClickIcons/select-all.svg') }}"> Select all</div>
    <div class="line"></div>
    <div class="pkm-item" id="add-formula"> <img class="rkm-bottom-icon" src="{{ url_for('static', filename='svg/rightClickIcons/add-formula.svg') }}"> Add formula</div>
    <div class="pkm-item" id="draw-menu"> <img class="rkm-bottom-icon" src="{{ url_for('static', filename='svg/rightClickIcons/draw-menu.svg') }}"> Draw formula</div>
    <div class="line"></div>
    <div class="pkm-item" id="save"> <img class="rkm-bottom-icon" src="{{ url_for('static', filename='svg/rightClickIcons/save.svg') }}"> Save</div>
    <div class="pkm-item" id="save-as"> <img class="rkm-bottom-icon" src="{{ url_for('static', filename='svg/rightClickIcons/save-as.svg') }}"> Save as</div>
  </div>

  <div id="drawingWindow" class="hidden" style="display: none;">
    <div class="drawingWindowHeader">
      <span id="drawingWindowTitle">Draw Formula</span>
      <span id="closeDrawingWindow">&times;</span>
    </div>
    <div class="drawingWindowBody">
      <input type="text" id="drawingInput" style=" margin-top: 5px;" placeholder="Здесь будет формула">
      <div id="drawingCanvas">
        <canvas id="canvasElement" width="500" height="130"></canvas>
      </div>
      <div id="divandinp">
        <button id="saveDrawing">Convert</button>
        <button id="clearDrawing">Clear</button>
      </div>
    </div>
  </div>

  
  <div id="hamburgerMenu" class="hidden">
    <ul>
      <div id="hamburger-border"></div>
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="#">Contact</a></li>
      <img class="images" id="cat_breakdancing_holy_fucking_shit" style="z-index: 1001; flex: 1;" src="{{ url_for('static', filename='images/breakdance-cat.gif')}}">
    </ul>
  </div>

{% endblock %}