<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    body {
      background-color: #1c2127;
    }
  </style>

    
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/containers.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/foldermenu.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/textarea.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/button.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/topleftbar.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/topbar.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/leftsidebar.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/themes.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/rightClickMenu.css') }}">

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/katex.min.css" integrity="sha384-MlJdn/WNKDGXveldHDdyRP1R4CTHr3FeuDNfhsLPYrq2t0UBkUdK2jyTnXPEK1NQ" crossorigin="anonymous">

  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <title>mathEXT</title>
</head>
<body>
    {% block body %}{% endblock %}



    <!--Импорт katex--> 
    <script src="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/katex.min.js" integrity="sha384-VQ8d8WVFw0yHhCk5E8I86oOhv48xLpnDZx5T9GogA/Y84DcCKWXDmSDfn13bzFZY" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/contrib/auto-render.min.js" integrity="sha384-+XBljXPPiv+OzfbB3cVmLHf4hdUFHlWNZN5spNQ7rmHTXpd7WvJum6fIACpNNfIR" crossorigin="anonymous"></script>
    
    <!--Реализация рендера формул--> 
    <script src="{{ url_for('static', filename='js/katexRender.js') }}"></script>

    <!--Открытие меню при нажатии кнопки AI-->
    <script src="{{ url_for('static', filename='js/AIButtonPressAction.js') }}"></script>

    <!--Открытие меню при нажатии правой кнопки мыши-->
    <script src="{{ url_for('static', filename='js/rightClickAction.js') }}"></script>

    <!--Функции кнопок контекстного меню `0_`0 -->
    <script src="{{ url_for('static', filename='js/contextMenuButtons/save.js') }}"></script>
    
</body>
</html>
